<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ панель</title>
</head>
<body>
    <h1>Админ панель</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="container mt-3">
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}


    <h2>Справки без отметки о стипендии</h2>
    <form method="POST" action="/delete">
        <table border="1">
            <tr>
                <th>Выбрать</th>
                <th>ФИО</th>
                <th>Курс, группа</th>
                <th>Куда нужна справка</th>
                <th>Количество</th>
            </tr>
            {% for request in requests_without_stipend %}
            <tr>
                <td><input type="checkbox" name="delete_ids" value="{{ request.id }}"></td>
                <td>{{ request.name }}</td>
                <td>{{ request.course_group }}</td>
                <td>{{ request.destination }}</td>
                <td>{{ request.quantity }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" name="action" value="delete">Удалить</button>
        <button type="submit" name="action" value="archive">Архивировать</button>
        <button type="submit" name="action" value="view_archive">Просмотреть архив</button>
    </form>
    <h2>Справки с отметкой о стипендии</h2>
    <form method="POST" action="/handle-requests">
    <table border="1">
        <tr>
            <th>Выбрать</th>
            <th>ФИО</th>
            <th>Курс, группа</th>
            <th>Куда нужна справка</th>
            <th>Количество справок</th>
            <th>Период</th>
        </tr>
        {% for request in requests_with_stipend %}
        <tr>
            <td><input type="checkbox" name="request_ids" value="{{ request.id }}"></td>
            <td>{{ request.name }}</td>
            <td>{{ request.course_group }}</td>
            <td>{{ request.destination }}</td>
            <td>{{ request.quantity }}</td>
            <td>{{ request.period_start }} - {{ request.period_end }}</td>
        </tr>
        {% endfor %}
    </table>
	<button type="submit" name="action" value="delete">Удалить</button>
        <button type="submit" name="action" value="archive">Архивировать</button>
        <button type="submit" name="action" value="view_archive">Просмотреть архив</button>
        <button type="submit" name="action" value="generate">Сформировать общий документ</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
