<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Архив Заявок</title>
</head>
<body>
    <h1>Архив Заявок</h1>
    {% if archived_requests %}
        <ul>
        {% for request in archived_requests %}
            <li>
                {{ request.name }} ({{ request.course_group }}) - {{ request.destination }} 
                <br>Тип справки: {{ request.request_type }}
                {% if request.period_start and request.period_end %}
                    <br>Период: с {{ request.period_start }} по {{ request.period_end }}
                {% endif %}
                <br>Количество: {{ request.quantity }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Архив пуст.</p>
    {% endif %}
    <a href="/admin">Назад в админ панель</a>
</body>
</html>
